<PropertyGroup>
	<PublishDir>bin\Debug\net8.0-android\publish\</PublishDir>
	<PublishProtocol>FileSystem</PublishProtocol>
	<RuntimeIdentifier>win-x86</RuntimeIdentifier>
	<!-- Corrected RID -->
	<Platform>Any CPU</Platform>
	<Configuration>Debug</Configuration>
	<TargetFramework>net8.0-windows10.0.19041.0</TargetFramework>
	<PublishSingleFile>false</PublishSingleFile>
	<PublishReadyToRun>false</PublishReadyToRun>
	<SelfContained>True</SelfContained>
	<PublishAppxPackage>true</PublishAppxPackage>
	<AppxPackageDir>bin\Debug\net8.0-windows10.0.19041.0\win-x64\AppPackages\</AppxPackageDir>
	<!-- Updated to win-x64 -->
</PropertyGroup>


<!--<PropertyGroup>
	<PublishDir>bin\Debug\net8.0-android\publish\</PublishDir>
	<PublishProtocol>FileSystem</PublishProtocol>
	<RuntimeIdentifier>win10-x86</RuntimeIdentifier>
	<Platform>Any CPU</Platform>
	<Configuration>Debug</Configuration>
	<TargetFramework>net8.0-windows10.0.19041.0</TargetFramework>
	<PublishSingleFile>false</PublishSingleFile>
	<PublishReadyToRun>false</PublishReadyToRun>
	<SelfContained>True</SelfContained>
	<PublishAppxPackage>true</PublishAppxPackage>
	<AppxPackageDir>bin\Debug\net8.0-windows10.0.19041.0\win10-x64\AppPackages\</AppxPackageDir>
</PropertyGroup>
</Project>-->
